QWidget {
    font: "Open Sans";
    background-color: #222222;
    padding: 5px;
}
QWidget:enabled {
    color: #c4c4c4;
}
QLineEdit:enabled, QPushButton:enabled {
    border: 2px solid #c4c4c4;
}
QLineEdit:disabled, QPushButton:disabled {
    color: #666666;
    border: 2px solid #666666;
}
QLineEdit:enabled {
    background-color: #111111;
    border-radius: 5px;
}
QPushButton{
    border-radius: 10px;
}
QLineEdit::placeholder {
    color: grey;
}
QPushButton::Hover, QCheckBox::indicator::Hover,QPushButton::Focus, QCheckBox::indicator::Focus {
    background-color: grey;
}

QLabel#ImageLabel ,QPixmap{
    border-radius: 50px;
}

QProgressBar {
    qproperty-alignment: AlignCenter;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}
QProgressBar::chunk {
    border-radius: 7px;
    background-color: #c4c4c4;
}
QCheckBox {
    background-color: none;
    border: none;
}
QCheckBox::indicator {
    width: 15px;
    height: 15px;
    background-color: #222222;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}
QCheckBox::indicator::Checked {
    image: url("FOLON-Downgrader-Files/check.svg");
}